<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    </head>
    <body>

        <div class="section">
            <div class="container">
                <h4 class="title is-3 has-text-centered">From here on, guess the clues that will give you ideas around the house :)</h4>
            </div>
        </div>
        <div class="section has-text-centered">
            <div class="container">
                <img src="https://www.pinclipart.com/picdir/middle/324-3242257_first-place-emblem-clipart.png" width="300"><br><br>
                <img src="https://ak.picdn.net/shutterstock/videos/1006776658/thumb/1.jpg" width="300"><br><br>
                <img src="https://vignette.wikia.nocookie.net/spongebob/images/1/1f/Larry_the_Floor_Manager_073.png/revision/latest?cb=20171001174610" width="300"><br><br>
                <img src="https://banner2.cleanpng.com/20180313/khw/kisspng-red-wine-beer-coq-au-vin-vector-cartoon-hand-painted-wine-5aa75d3b492b83.9999563215209178192997.jpg" width="300"><br><br>
                <h4 class="title is-3">After you get there and got the stuff, click <a href="/third" style="color:#D280D9">here</a></h4>
                

            </div>
        </div>


          <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>


    </body>
</html>