<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    </head>
    <body>

        <div class="section has-text-centered">
            <div class="container">
                <img src="https://vignette.wikia.nocookie.net/spongebob/images/1/1f/Larry_the_Floor_Manager_073.png/revision/latest?cb=20171001174610" width="300"><br><br>
                <h4 class="title is-5">EVERY</h4><br>
                <img src="https://imgix.bustle.com/uploads/shutterstock/2020/4/1/737a6a52-9951-4845-822e-51740b1cb895-shutterstock-1451195096.jpg?w=1020&h=574&fit=crop&crop=faces&auto=format%2Ccompress&cs=srgb&q=70" width="300">

                <h4 class="title is-3">Did you get it??, click <a href="/sixth">here</a></h4>
                

            </div>
        </div>


          <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>


    </body>
</html>